# Entorno virtual
venv/
env/
.venv/
.env/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos de test y coverage
.coverage
.coverage.*
*.cover
coverage.*
nosetests.xml
unittest.xml
pytest.xml

# Archivos temporales
*.tmp
*.temp

# Archivos del sistema operativo
.DS_Store
Thumbs.db
